<div class="moment" *ngIf="moment">
    <h1>{{moment.title}}</h1>
    <img src="{{baseApiUrl}}uploads/{{moment.image}}" alt="{{moment.title}}"/>
    <div class="about-moment">
        <h3>Sobre esse Momento:</h3>
        <p>{{moment.description}}</p>
    </div>
    <div class="actions">
        <h3>Açoes:</h3>
        <button class="edit-btn" (click)="edittHandler()">
            <fa-icon [icon]="faEdit"></fa-icon>
            Editar
          </button>
        <button
        class="remove-btn"      
        (click)="removeHandler()">      
        <fa-icon [icon]="faTimes"></fa-icon>
        Remover
      </button>
        <div class="comments" >
            <h3>Comentarios (0):</h3>
        </div>
    </div>
</div>