<nav>
  <a class="brand" routerLink="/">
    <img src="./assets/oak.jpg" alt="Moments">
    <h2>Social Oakley</h2>
  </a>
  <ul class="links">
    <li><a routerLink="/">Home</a></li>
    <li id="add" *ngIf="isLoggedIn()"><a routerLink="/moments/new">Compartilhar</a></li>
    <li><a routerLink="/about">Sobre</a></li>
  
    
    <li *ngIf="!isLoggedIn()"><a routerLink="/register">Cadastrar</a></li>
    <li *ngIf="!isLoggedIn()"><a routerLink="/login">Login</a></li>
    
    <li *ngIf="isLoggedIn()">
      <button class="logout-btn" (click)="logout()">Sair</button>
    </li>
  </ul>
</nav>
